<!DOCTYPE html>
<head>
    <title>User Profile </title>
</head>
<body>
    <h1>{{values["Name"]}}</h1>
    <table border=1>
        <thread>
            <td>Name</td>
            <td>Preferences</td>
            <td>Contact</td>
        </thread>
            <tr>
                <td>{{values["Name"]}}</td>
                <td>{{values["Preferences"]}}</td>
                <td>{{values["Contact"]}}</td>
            </tr>
        {% for row in values %}
        <tr>
            <td>{{values["Name"]}}</td>
            <td>{{values["Preferences"]}}</td>
            <td>{{values["Contact"]}}</td>
        </tr>
    {% endfor %}
    </table>

    <a href="/NewMovie?name={{name}}&Idnum={{Idnum}}">Find movie watchers</a>
    <a href = "/">Log out</a>

</body>
</html>